{#
    filename: guide.html
    description: 使用说明
#}

{% extends "order/base.html" %}
{% block title %}Guide{% endblock title %}

{% block body %}
<div class="row mb-3">
  <div class="col-12">
    <h4 class="mb-3">网站简介</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <p>欢迎使用信科青协电脑小队的预约系统！</p>
    <p>该系统为修机志愿活动提供线上预约服务，其主要作用是分散的机主的到场时间，避免出现人员拥挤，排队等待时间太长的问题。</p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <h4>预约挂号流程</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <p>1、首先，您需要在 <b>“预约”页</b> 下建立一个订单，预约成功后，我们将会把订单信息发送至您所填的 <b>邮箱</b><span class="text-muted"><small>（请务必确保所填邮箱可用！每次活动，每个邮箱下只能存在一个有效订单！）</small></span>。<b>活动开始前，请务必保留好这封邮件！</b></p>
    <p>2、遵循所填的 <b>预约时段</b> 到场维修。</p>
    <p>3、活动时，您还需要现场挂号排队。到场后，扫描我们提供的二维码，填写您的 <b>邮箱</b> 确认订单，并领取一个流水号。</p>
    <p>4、记住您的流水号，并耐心等待志愿者叫号。</p>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <h4>注意事项</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <p>1、如果您没有提前预约而直接到场修机，也需要依据上述流程，<b>先预约，后挂号排队</b>。</p>
    <p>2、您可以在 <b>“查询/撤销”页</b> 通过 <b>预约邮箱</b> 查询和撤销订单。</p>
    <p>3、对于 <b>撤销</b> 操作，您需要填写我们提供的 <b>校验码</b> 来确保操作的真实性。校验码会在您预约的时候连同订单信息一同发送至您的邮箱，您可以登录预约邮箱获得校验码。校验码还会在您预约成功时连同订单信息 <b>唯一地</b> 显示一次，<b>强烈建议您 截屏 保存订单信息</b>。</p>
    <p>4、撤销成功后，您还可以重新使用之前所填的邮箱创建新的订单。</p>
  </div>
</div>
{% endblock body%}