{#
    filename: order.html
    description: 订单信息
#}

{% extends "order/base.html" %}
{% block title %}Order Infomation{% endblock title %}

{% block body %}
<div class="row mb-3">
  <div class="col-12">
    <h4>{% if action == "create" %}
          预约成功<span class="font-weight-normal text-secondary"><small><small> （订单信息已发送至您的邮箱）</small></small></span>
        {% elif action == "check" %}
          查询结果
        {% elif action == "withdraw" %}
          撤销成功
        {% elif action == "register" %}
          当前预约
        {% endif %}</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <p>预约单号： <span class="font-weight-bold">{{ order.orderID }}</span></p>
    <p>创建时间： <span>{{ order.create_time|strftime }}</span></p>
    <p>订单状态： {% if order.status == 0 %}
                  <span class="text-success font-weight-bold">成功预约</span>
                {% elif order.status == 1 %}
                  <span class="text-warning font-weight-bold">已撤销</span>
                {% else %}
                  <span class="text-danger font-weight-bold">异常订单</span>
                {% endif %}</p>
    {% if order.chksn %}
    <p>校验码： 　<span>{{ order.chksn }}</span></p>
    {% endif %}
    <p>邮箱： 　　<span>{{ order.email }}</span></p>
    <p>维修类型： <span>{{ order.type }}</span></p>
    <p>电脑型号： <span>{{ order.model }}</span></p>
    <p>问题描述： <span>{{ order.description }}</span></p>
    <p>活动安排： <span class="font-weight-bold">{{ order.day }}　{{ order.site }}</span></p>
    <p>预约时段： <span class="font-weight-bold">{{ order.appointment }}</span></p>
  </div>
</div>
{% if action == "register" %}
<div class="row mb-3">
  <div class="col-12">
    <button id="btn-register" class="btn btn-outline-primary btn-block" type="button" action="{{ url_for('order.api_register') }}" method="POST">确认挂号</button>
  </div>
</div>
{% elif order.status == 0 %}
<div class="row mb-3">
  <div class="col-12">
    <h4>撤销订单</h4>
  </div>
</div>
<div class="row mb-3">
  <div class="col-12">
    <form id="form-withdraw" action="{{ url_for('order.api_withdraw') }}" method="POST">
      <div class="form-group row">
        <label for="form-email" class="col-form-label col-sm-3 col-md-2">邮箱： </label>
        <div class="col">
          <input type="email" id="form-email" name="email" class="form-control" placeholder="Email" required="required" value="{{ order.email }}">
          <div class="invalid-feedback" hidden="hidden">该邮箱下未找到有效订单</div>
        </div>
      </div>
      <div class="form-group row">
        <label for="form-chksn" class="col-form-label col-sm-3 col-md-2">校验码： </label>
        <div class="col">
          <input type="text" id="form-chksn" name="chksn" class="form-control" placeholder="Authentication Code" required="required">
          <small class="form-text text-muted">从已发送的订单邮件中获得校验码</small>
          <div class="invalid-feedback" hidden="hidden">校验码错误</div>
        </div>
      </div>
      <button type="submit" class="btn btn-outline-primary btn-block mt-4">撤销订单</button>
    </form>
  </div>
</div>
{% endif %}
{% endblock body %}

{% block script %}
<script type="text/javascript">
  "use strict";

  $("button#btn-register").click(function() {
    var btn = $(this);
    var urlParams = new URLSearchParams(window.location.search);
    $.ajax({
      url: btn.attr("action") + "?token=" + urlParams.get('token'),
      type: btn.atrr("method"),
      data: {
        order: urlParams.get('order'),
      },
    })
    .done(function(res) {
      switch (res.errcode) {
        case 0:
          window.location.href = res.redirect;
          break;
        default:
          console.error(res);
          throw new Error(res.errmsg);
          break;
      }
    })
    .fail(function(res) {
      throw new Error(res);
    });
    return false;
  });

  $("form#form-withdraw").submit(function() {
    var form = $(this);
    $.ajax({
      url: form.attr('action'),
      type: form.attr('method'),
      data: form.serialize(),
    })
    .done(function(res) {
      console.log(res);
      switch (res.errcode) {
        case 0:
          console.log('ok');
          window.location.href = res.redirect;
          break;
        case 302: // 订单未找到
          var emailInput = form.find('input#form-email');
          emailInput.addClass("is-invalid").next("div.invalid-feedback").removeAttr('hidden');
          emailInput[0].oninput = function() {
            $(this).removeClass("is-invalid").next("div.invalid-feedback").attr('hidden', 'hidden');
          };
          break;
        case 201: // 校验码错误
          var chksnInput = form.find('input#form-chksn');
          chksnInput.addClass("is-invalid").next("small.form-text").attr('hidden', 'hidden').next("div.invalid-feedback").removeAttr('hidden');
          chksnInput[0].oninput = function() {
            $(this).removeClass("is-invalid").next("small.form-text").removeAttr('hidden').next("div.invalid-feedback").attr('hidden', 'hidden');
          };
          break;
        default:
          console.error(res);
          throw new Error(res.errmsg);
          break;
      }
    })
    .fail(function(res) {
      throw new Error(res);
    });
    return false;
  });
</script>
{% endblock script %}
